[user]
	name  = Tatsuya Suzuki
	email = tazyamah@gmail.com
[merge]
	keepBackup = false;
	tool = p4merge
[mergetool "p4merge"]
	cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
	keepTemporaries = false
	trustExitCode = false
	keepBackup = false
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore
	shared = true
	editor = vim -c \"set fenc=utf-8\"
[github]
  user = tazyamah
[credential]
  helper = osxkeychain
[credential "https://github.com"]
  username = tazyamah
[http]
	sslVerify = false
[push]
  default = current
[alias]
  delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
[push]
  default = current
